out/
.DS_Store
*.ipr
*.iml
*.iws
*.class
WebRoot/WEB-INF/classes/
.externalToolBuilders
target
test-output
temp-testng*.xml
build/
.gradle
*~
\#*
.idea
.svn
.history
.cache
.settings
.project
.classpath
*.swp
logs
*all.sql
dependency-reduced-pom.xml